<html>

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">publisher</th>
<th title="Field #2">f2f_url</th>
<th title="Field #3">title</th>
<th title="Field #4">recipe_id</th>
<th title="Field #5">image_url</th>
<th title="Field #6">social_rank</th>
</tr></thead>
<tbody><tr>
<td>BBC Food</td>
<td>http://food2fork.com/view/8c0314</td>
<td>Chicken and cashew nut stir-fry</td>
<td>8c0314</td>
<td>http://static.food2fork.com/chickenandcashewnuts_89299_16x9986b.jpg</td>
<td align="right">95.91061636245128</td>
</tr>
<tr>
<td>Jamie Oliver</td>
<td>http://food2fork.com/view/0beb06</td>
<td>Roasted chicken breast with pancetta, leeks &amp; thyme</td>
<td>0beb06</td>
<td>http://static.food2fork.com/466_1_1349094314_lrg2129.jpg</td>
<td align="right">94.88568903341375</td>
</tr>
<tr>
<td>All Recipes</td>
<td>http://food2fork.com/view/5052</td>
<td>Buffalo Chicken Chili</td>
<td>5052</td>
<td>http://static.food2fork.com/2028272b37.jpg</td>
<td align="right">94.58658353411347</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/e5c48b</td>
<td>Chicken breast with avocado salad</td>
<td>e5c48b</td>
<td>http://static.food2fork.com/1364637_MEDIUMc356.jpg</td>
<td align="right">94.35603716159841</td>
</tr>
<tr>
<td>All Recipes</td>
<td>http://food2fork.com/view/28674</td>
<td>Simply Parmesan Chicken</td>
<td>28674</td>
<td>http://static.food2fork.com/1768256a59.jpg</td>
<td align="right">93.80034906530031</td>
</tr>
<tr>
<td>BBC Food</td>
<td>http://food2fork.com/view/cc7512</td>
<td>Chicken biryani</td>
<td>cc7512</td>
<td>http://static.food2fork.com/chickenbiriyani_89035_16x90f07.jpg</td>
<td align="right">92.40780296275469</td>
</tr>
<tr>
<td>Bon Appetit</td>
<td>http://food2fork.com/view/51439</td>
<td>Chicken Parmesan</td>
<td>51439</td>
<td>http://static.food2fork.com/mare_chicken_parmesan_h176c.jpg</td>
<td align="right">90.59575791272333</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/98d440</td>
<td>Artichoke, chicken &amp; lemon linguine</td>
<td>98d440</td>
<td>http://static.food2fork.com/1145661_MEDIUM627e.jpg</td>
<td align="right">90.2326225525024</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/978c40</td>
<td>Chicken with lemon &amp; courgette couscous</td>
<td>978c40</td>
<td>http://static.food2fork.com/333612_MEDIUM064c.jpg</td>
<td align="right">90.10743372168618</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/c332f0</td>
<td>Posh chicken nuggets</td>
<td>c332f0</td>
<td>http://static.food2fork.com/1562652_MEDIUM1004.jpg</td>
<td align="right">89.42509401242557</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/a4042b</td>
<td>Chicken &amp; Sweetcorn Soup</td>
<td>a4042b</td>
<td>http://static.food2fork.com/197075_medium0a7a.jpg</td>
<td align="right">89.3240030128329</td>
</tr>
<tr>
<td>All Recipes</td>
<td>http://food2fork.com/view/7536</td>
<td>Chicken Tinga Tostados</td>
<td>7536</td>
<td>http://static.food2fork.com/858984337e.jpg</td>
<td align="right">88.4168442855139</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/9050f9</td>
<td>Light lemon chicken Caesar</td>
<td>9050f9</td>
<td>http://static.food2fork.com/1355635_MEDIUM1c5e.jpg</td>
<td align="right">87.79613940338393</td>
</tr>
<tr>
<td>All Recipes</td>
<td>http://food2fork.com/view/7162</td>
<td>Chicken Delicious</td>
<td>7162</td>
<td>http://static.food2fork.com/48639c001.jpg</td>
<td align="right">87.66677648110736</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/4b8ff5</td>
<td>Chicken &amp; mango stir fry</td>
<td>4b8ff5</td>
<td>http://static.food2fork.com/2398_MEDIUMb464.jpg</td>
<td align="right">87.50915533711165</td>
</tr>
<tr>
<td>Epicurious</td>
<td>http://food2fork.com/view/6a6d6c</td>
<td>Chicken Breasts with Tomato-Herb Pan Sauce</td>
<td>6a6d6c</td>
<td>http://static.food2fork.com/epicuriousfacebook511b.png</td>
<td align="right">87.26493690171542</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/b4eaa4</td>
<td>Chicken &amp; broccoli pasta bake</td>
<td>b4eaa4</td>
<td>http://static.food2fork.com/1948_MEDIUM8fbc.jpg</td>
<td align="right">87.255689704409</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/5f3b80</td>
<td>Sweet &amp; sour chicken &amp; veg</td>
<td>5f3b80</td>
<td>http://static.food2fork.com/1162660_MEDIUMe96a.jpg</td>
<td align="right">85.55485980745388</td>
</tr>
<tr>
<td>Real Simple</td>
<td>http://food2fork.com/view/39397</td>
<td>Baked Pecorino Chicken</td>
<td>39397</td>
<td>http://static.food2fork.com/bakedchicken_3003ddb97a2.jpg</td>
<td align="right">84.77876133352308</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/0002d6</td>
<td>All-in-one roast chicken &amp; veg</td>
<td>0002d6</td>
<td>http://static.food2fork.com/988637_MEDIUMabfc.jpg</td>
<td align="right">84.53086303742718</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/93f36c</td>
<td>Christmas pie</td>
<td>93f36c</td>
<td>http://static.food2fork.com/2793_MEDIUMaa84.jpg</td>
<td align="right">83.76867154251453</td>
</tr>
<tr>
<td>Framed Cooks</td>
<td>http://food2fork.com/view/92b194</td>
<td>Chicken with Spring Vegetables and Gnocchi</td>
<td>92b194</td>
<td>http://static.food2fork.com/iW8v49knM5faff.jpg</td>
<td align="right">80.83140529447712</td>
</tr>
<tr>
<td>Simply Recipes</td>
<td>http://food2fork.com/view/35750</td>
<td>Baked Chicken Parmesan</td>
<td>35750</td>
<td>http://static.food2fork.com/simplyrecipeslogodefaultf402004e.jpg</td>
<td align="right">80.50068829860142</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/6a89e0</td>
<td>Chicken stuffed with herby mascarpone</td>
<td>6a89e0</td>
<td>http://static.food2fork.com/4787_MEDIUM14f8.jpg</td>
<td align="right">80.37252082959394</td>
</tr>
<tr>
<td>Chow</td>
<td>http://food2fork.com/view/6a976d</td>
<td>Chicken-Fried Chicken and Pickled Pepper Sandwiches Recipe</td>
<td>6a976d</td>
<td>http://static.food2fork.com/30385_Recipeimage_620x413_chicken.jpg</td>
<td align="right">78.85903981683924</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/c94137</td>
<td>Flattened chicken with tomatoes, olives &amp; capers</td>
<td>c94137</td>
<td>http://static.food2fork.com/12742_MEDIUMe476.jpg</td>
<td align="right">77.72615270226183</td>
</tr>
<tr>
<td>BBC Good Food</td>
<td>http://food2fork.com/view/fb262d</td>
<td>Chicken &amp; broad bean filo pies</td>
<td>fb262d</td>
<td>http://static.food2fork.com/2302664_MEDIUMede0.jpg</td>
<td align="right">77.086195608727</td>
</tr>
<tr>
<td>All Recipes</td>
<td>http://food2fork.com/view/15347</td>
<td>Green Chili Chicken Burgers</td>
<td>15347</td>
<td>http://static.food2fork.com/73172343c7.jpg</td>
<td align="right">74.90826597537934</td>
</tr>
<tr>
<td>Whats Gaby Cooking</td>
<td>http://food2fork.com/view/bf98a7</td>
<td>Chicken Parmesan Pizza</td>
<td>bf98a7</td>
<td>http://static.food2fork.com/ChickenParmesanPizza347d.jpg</td>
<td align="right">73.2532994368836</td>
</tr>
<tr>
<td>Fine Dining Lovers</td>
<td>http://food2fork.com/view/53864</td>
<td>Chicken Breast Wrapped in Bacon With Shallots</td>
<td>53864</td>
<td>http://static.food2fork.com/s_2940_442203ad78.jpg</td>
<td align="right">72.20033827526566</td>
</tr>
</tbody></table>

</html>