<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recipes Ideas</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class ="header">
    <div class="img-header">
        <div class="img-des2">
           <h1>Just Eat It.</h1>
           <h3>Battling Food Waste in A Mass Production Era</h3>
        </div>
    </div>
</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="home">Just Eat It.</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="about">About Us</a>
                    </li>
                    <li>
                        <a href="recipesideas">Recipes Ideas</a>
                    </li>

                    <li>
                        <a href="instagramsuggestions">Instagram Suggestions</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Recipes Ideas - 
                        <strong>Vegetables</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/sweetpotato.jpg" alt="">
                    <h2>Sesame-Ginger-Chickpea-Stuffed Sweet Potatoes
                        <br>
                        <small>Cooking Time: 40 Minutes</small>
                    </h2>
                    <p>Sesame, especially toasted sesame oil, is a key flavor in many Asian cuisines. It makes sense that tahini would fit here too, from satay sauces to the ginger dressing on your sushi restaurant salad. Here we spike tahini with fresh ginger, garlic, and rice vinegar and drizzle over roasted sweet potatoes (tahini rounds out sweet flavors beautifully). And because tahini and chickpeas can never be too far apart, we spice and roast chickpeas until crunchy for added texture and protein in the dish. If you don’t have Sriracha, try a dash of hot sauce or a sprinkle of crushed red pepper. </p>
                    <a href="https://www.cookinglight.com/recipes/sesame-ginger-chickpea-stuffed-sweet-potatoes" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/zucchinipie.jpg" alt="">
                    <h2>Courgette Pie with Cherry Tomatoes & Basil
                        <br>
                        <small>Cooking Time: 35 Minutes</small>
                    </h2>
                    <p> This is a fresh riff on spaghetti pie, where zoodles stand in for spaghetti and sweet grape tomatoes replace pasta sauce. Cut wedges from the quiche-like pie with a serrated knife so you can cleanly cut through the zucchini. The zoodles do cook to a texture just beyond al dente, but they still offer some crunch. Serve this dish for breakfast, lunch, or dinner—it’s great hot, at room temperature, and cold. For a special brunch treat, top wedges with a sliver of cold-smoked salmon and a dill sprig.
                    </p>
                    <a href="https://www.cookinglight.com/recipes/zucchini-pie" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/fennel.jpg" alt="">
                    <h2>Fennel, Tomato, and Feta Skillet Bake
                        <br>
                        <small>Cooking Time: 20 Minutes</small>
                    </h2>
                    <p>Fresh fennel becomes mellow and sweet once sautéed and braised in chopped, strained tomatoes. If you can’t find Pomì brand, drain about 1/3 of the liquid from a (15-oz.) can of unsalted diced tomatoes. Pair this simple, beautiful side with baked fish or lemon-and-herb roasted chicken.</p>
                    <a href="https://img1.cookinglight.timeinc.net/sites/default/files/1513268479/fennel-tomato-and-feta-skillet-bake-1801-ck.jpg" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/artichoke.jpg" alt="">
                    <h2>Creamy Artichoke Soup with Peas, Shallots and Parsley
                        <br>
                        <small>Cooking Time: 25 Minutes</small>
                    </h2>
                    <p>This taste-of-spring soup is made creamy with silken tofu and just a touch of half-and-half instead of the heavy cream—slashing the calories and fat found in traditional cream soups. Frozen artichoke hearts add all the flavor of fresh artichokes without the extra prep time. If frozen artichokes aren’t available at your market, you can use three 14-oz. cans drained and rinsed artichokes hearts packed in water instead. When pureeing hot liquids in a blender, it’s always a good idea to remove the center piece of the blender lid and place a towel over top. The center hole lets steam escape and prevents a hot soup accident. Serve as a light supper with a baby kale salad tossed with a Dijon mustard vinaigrette or with toasted baguette slices topped with melted fontina or Gruyère cheese.
                    </p>
                    <a href="https://www.cookinglight.com/recipes/creamy-artichoke-soup" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
     <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Recipes Ideas - 
                        <strong>Meats</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/chicken.jpg" alt="">
                    <h2>Tahini-Marinated Chicken Thighs With Cucumber-and-Tomato Salad
                        <br>
                        <small>Cooking Time: 30 Minutes</small>
                    </h2>
                    <p>Adding tahini to the marinade makes the chicken buttery tender without an overwhelming amount of sesame flavor in the finished dish. It also helps the chicken to char nicely on the grill.</p>
                    <a href="https://www.cookinglight.com/food/in-season/cucumber-recipes" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/pork.jpg" alt="">
                    <h2>Pork Ragù with Polenta
                        <br>
                        <small>Cooking Time: 1 Hour</small>
                    </h2>
                    <p>Create golden crusts on your pork roast by browning it before placing it in the slow cooker. Red wine, tomatoes, and plenty of aromatics enrich the pork ragù with savory depth as it cooks low and slow. Kale adds earthiness and a welcomed contrast of texture. Once the pork has cooked, use two forks to shred the tender meat before placing it back in the pool of rich sauce. Serve ragù over polenta, pasta, or rice for a hearty, satisfying main that is built for weeknight ease. Big flavor, minimal effort, and all-around comfort food you can feel good about.
                    </p>
                    <a href="https://www.cookinglight.com/recipes/pork-ragu-polenta" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/beef.jpg" alt="">
                    <h2>Beef and Broccoli Stuffed Sweet Potatoes
                        <br>
                        <small>Cooking Time: 25 Minutes</small>
                    </h2>
                    <p>Russets aren't the only spuds worth stuffing. Smoke and heat, achieved with chili powder and ground red pepper, work particularly well with sweet potatoes. The melted cheese on top pulls all the flavors together and seals in the stuffed components. This makes for a great side dish, or serve them open-faced as a Super Bowl-style appetizer.
                    </p>
                    <a href="https://www.cookinglight.com/recipes/beef-broccoli-stuffed-sweet-potatoes-0" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/salmon.jpg" alt="">
                    <h2>Dilly Salmon Packets with Asparagus
                        <br>
                        <small>Cooking Time: 25 Minutes</small>
                    </h2>
                    <p>Adding the orange slices to the packets will perfume the fish and make the slices easier to squeeze after grilling. Remove the foil and arrange fillets over asparagus for a lovely presentation. No grill? Bake the packets at 425° for 15 minutes or until desired degree of doneness.
                    </p>
                    <a href="https://www.cookinglight.com/entertaining/menus-for-entertaining/grilled-salmon-recipes#dilly-salmon-packets-with-asparagus-1" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Recipes Ideas - 
                        <strong>Fruits</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/apple.jpg" alt="">
                    <h2>Spiced Apple Hand Pies
                        <br>
                        <small>Cooking Time: 30 Minutes</small>
                    </h2>
                    <p>This hand-held version of an American classic will please the taste buds of adults and children alike.</p>
                    <a href="https://www.cookinglight.com/healthy-living/spiced-apple-hand-pies-recipe" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/strawberry.jpg" alt="">
                    <h2>Dulce Le Leche Bread Puddings
                        <br>
                        <small>Cooking Time: 15 Minutes</small>
                    </h2>
                    <p>The Blue Ridge artisanal buffet offers us what we love – plenty of great food, Southern hospitality and beautiful views of the Blue Ridge Mountains! Open for breakfast, weekend dinner, and Sunday Champagne brunch, its culinary concept is best described as an elegant and local “Farm to Table American Buffet” featuring fresh and creative regional American Cuisine with Southern hospitality and beautiful views of the Blue Ridge Mountains. Try the Blue Ridge Dining Room's award-winning Friday Night Seafood Buffet; Saturday Night Prime Rib Buffet and Sunday Champagne Brunch.
                    </p>
                    <a href="https://img1.cookinglight.timeinc.net/sites/default/files/1542059054/dulce-de-leche-bread-puddings-1812-p98.jpg" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/banana.jpg" alt="">
                    <h2>Banana Nut Shredded Wheat
                        <br>
                        <small>Cooking Time: 2 Minutes</small>
                    </h2>
                    <p>Soak shredded wheat biscuits in milk. Top with banana, almond butter, almonds, and cinnamon.</p>
                    <a href="https://www.cookinglight.com/recipes/banana-nut-shredded-wheat" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="static/img/grape.jpg" alt="">
                    <h2>Grape Galette
                        <br>
                        <small>Cooking Time: 30 Minutes</small>
                    </h2>
                    <p>Take a break from traditional pies and tarts and try a red grape filling instead. The grapes collapse a bit and become intensely juicy in the oven. Sweet, slightly bitter marmalade helps to bind the filling and balance the fruit. The galette will need time to set after baking so the juices can thicken. Bake first, then let sit at room temperature while you complete the rest of your holiday prep. We love this dessert at room temperature, but you could also gently reheat at 300°F for about 10 minutes or until warmed through.
                    </p>
                    <a href="https://www.cookinglight.com/recipes/grape-galette" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Just Eat It.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
